section(class="m-5")
    if products
        if products.length !== 0
            table(class="table table-stripped w-75 m-auto table-hover table-bordered")
                thead
                    tr
                        th(scope="col" class='text-center') Id #
                        th(scope="col" class='text-center') Title
                        th(scope="col" class='text-center') Price
                        th(scope="col" class='text-center') Image

                tbody(id="product-container")
        else
            div(class="alert alert-danger" role="alert") 
                p You haven't added any product yet!   
    else
        div(class="alert alert-danger" role="alert") 
            p You haven't added any product yet!   

script(
        src="index.js"
    )