div(class="d-flex justify-content-center")
    form(onsubmit='return addMessage(this)' class="w-25")
            div(class="mb-3")
                label(for="message-author" class="form-label") Email
                input(name="email" type="email" class="form-control" id="message-author" aria-describedby="message-author" required)
            div(class="mb-3")
                label(for="message-text" class="form-label") What you wanna say?
                input(name="text" type="text" class="form-control" id="message-text" aria-describedby="message-text")
            button(class="btn btn-primary" type='submit') Submit

div(id='messages')
    p Second section